/* stylelint-disable color-hex-length */
/* stylelint-disable no-eol-whitespace */
/* stylelint-disable indentation */
/* stylelint-disable declaration-block-no-duplicate-properties */

html {
  font-size: 100%;
  line-height: 1.5rem;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  max-width: 1400vw;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.flex {
  display: flex;
}

li {
  list-style: none;
  text-decoration: none;
}

/* toolbar */
.header-nav {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 1.5rem;
}

.headline {
  flex-direction: column;
  align-items: center;
  padding: 4rem 1.5rem;
  background: url(images/header-illsutration-mobile@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.headline-title {
  font-family: inherit;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.25rem;
  text-align: center;
  width: 327px;
  height: 192px;
  color: #172b4d;
}

.headline-title span {
  color: #36b37e;
  text-align: center;
}

.headline-subtitle {
  width: 327px;
  height: 164px;
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
  text-align: center;
  color: #172b4d;
}

.icons {
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 170.17px;
  height: 20px;
  padding-top: 3rem;
}

.icon-item {
  margin-top: 3rem;
}

.action-button {
  width: 327px;
  height: 48px;
  top: 38.375rem;
  left: 1.5rem;
  padding-top: 4rem;
}

/* work section */

.work-container,
.about-me {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 2rem;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.work-heading > h2 {
  width: 327px;
  height: 97px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  align-items: center;
  text-align: center;
}

.line {
  width: 48px;
  height: 4px;
  background: #36b37e;
  border-radius: 24px;
  margin: 0 auto;
}

.card-img {
  background-color: #ebf0ee;
  width: 100%;
  height: 252px;
}

.grid-card {
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  margin-bottom: 1.5rem;
}

.box {
  width: 327px;
  height: 195px;
  text-align: center;
}

.tags {
  display: flex;
}

.tag-item {
  margin-right: 0.5rem;
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  padding: 2px 4px;
  background: #ebf0ee;
  border-radius: 4px;
}

.project-title {
  color: #3a4a42;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

button {
  background: #36b37f;
  border-radius: 4px;
  color: #fff !important;
  padding: 12px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border: none;
}

button:hover {
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  border-radius: 4px;
}

button:active {
  background: #0a2759;
  border-radius: 4px;
}

button:enabled {
  color: #fff;
  border-radius: 4px;
  border-radius: 4px;
 }

/* about section */

.title-card {
  text-align: center;
}

.about-me-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  text-align: center;
}

.about-me-subtitle {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
  width: 327px;
  height: 164px;
}

.about-me-btn {
  margin-top: 2rem;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.about-box {
  margin-top: 3.7rem;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  height: 50vh;
  width: 327px;
  height: 352px;
  text-align: center;
}

.lang-title {
    width: 337px;
    font-size: 24px;
    color: #344563;
}

.tag-about-items {
  margin-right: 0.25rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #36b37e;
  width: 89px;
  height: 40px;
  letter-spacing: 0.03em;
  padding: 12px;
  background: #ffffff;
  border-radius: 8px;
}

.about-me-tags {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: flex-end;
  align-content: flex-end;
  align-items: flex-end;
  gap: 0.5rem;
}
